<!DOCTYPE html>
<head>
    <% include partials/head %>
    <title>Home</title>
</head>
<body class="container">
  <h2 class="row">Team 7 Final project</h2>
  <hr/>
  <p>Welcome to our home page</p>
  <hr/>
  <button class="btn btn-success btn-block" type="submit" href="/login" onClick='document.location.href="/login"'>
    Let's Start
  </button>
</body>
